<!DOCTYPE html>
<head><title>HOME</title>
<style>
    .navbar {
    background-color: black;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    }   

    button{
        background-color: black;
        color: white;
        padding: 5px;
        margin: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: large;
    }

    button:hover{
        background-color: white;
        color: black;
    }

    .kkbuttons{
        display: flex;
        justify-content: center;

    }


</style>
</head>
<body>
    <div class="navbar">
        <h1>KK MART</h1>
    </div>
    <div class="kkbuttons">
        <button onclick="location.href='farmer/login'">ARE YOU FARMER ?</button>
        <button onclick="location.href='buyer/login'">ARE YOU BUYER ?</button>
    </div>
    <div>
        <p>KK MART is the C2C marketplace for the farmers and buyers to buy and sell in the reasonable price. It helps farmers to sell their product in transparent ways and promote their local product. It helps to cutout the middleman.</p>
    </div>
</body>
</html>